<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"><title>Carousel 1</title>
<link rel="stylesheet" href="../../styles/creative.css">
<link rel="stylesheet" href="../../styles/carousel.css">
<script src="../../styles/common.js"></script>
</head>
<body>
<div class="creative" data-paws>
  <div class="chead">
    <div class="brand sm"><img src="../../assets/icon.png" alt=""><span class="name">PetScans</span></div>
    <span class="stepchip ghost">Food &amp; treats</span>
  </div>
  <div class="cmid">
    <img class="hero-icon" src="../../assets/icon.png" alt="PetScans">
    <div class="ctitle">Do you really know<br>what's in your<br>pet's <span class="grad">bowl?</span></div>
    <div class="csub">Most pet-food labels are impossible to decode. PetScans reveals every ingredient in seconds.</div>
  </div>
  <div class="cfoot">
    <div class="dots"><i class="on"></i><i></i><i></i><i></i><i></i></div>
    <span class="swipe">Swipe to see how →</span>
  </div>
</div>
</body>
</html>
